<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="g_arm">
  
  <!-- Include the base robot description -->
  <xacro:include filename="$(find g_arm_description)/urdf/robot.urdf.xacro"/>
  
  <!-- Include Gazebo-specific plugins and materials -->
  <xacro:include filename="$(find g-arm_simulation)/urdf/g_arm_gazebo_plugins.xacro"/>
  
  <!-- Include ros2_control configuration for Gazebo -->
  <xacro:include filename="$(find g-arm_simulation)/urdf/g_arm_gazebo_ros2_control.xacro"/>
  
  <!-- Add ros2_control plugin -->
  <xacro:g_arm_gazebo_ros2_control 
    name="GArmsim" 
    initial_positions_file="$(find g-arm_simulation)/config/initial_positions.yaml"/>
  
  <!-- Add Gazebo plugins for each link -->
  <xacro:gazebo_plugins/>
  
</robot>

