<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- This file adds inertial properties to links that don't have them -->
  <!-- It must be included AFTER the base robot description -->
  <!-- Note: We can't redefine links, so we need to modify the base URDF -->
  <!-- For now, the Gazebo extension tags should work, but Gazebo Garden might need them in the URDF -->
  
  <!-- The base_link needs inertial properties in the URDF itself -->
  <!-- Since we can't modify the base URDF, we need to ensure the Gazebo extension tags work -->
  <!-- If they don't, the base URDF needs to be modified to include inertial properties -->
  
</robot>

